<div class = "film_stroke">
	<div class = "left_box">
		<img class = "film_sumb" src = "/users/kitayui/desktop/sample2.png"></img>
	</div>
	<div class = "right_box">
		<div class = "title">
			<h3>Ruby Sparks (2012)</h3>
		</div>
		<article class = "comment">
			Banderas, Annette Bening, and Elliott Gould, Ruby Sparks attempts to be that latest independent film to bring audiences something new and creative. Can a film with an idea that seems to be based on both fantasy and reality come together to deliver that refreshing film or be just another lost opportunity? Ruby Sparks follows a writer dealing with writer's block as well as a desperate attempt to find love. When the female character he is writing becomes real, his life spirals into various directions trying to determine where his writing will take them. While the story basis for this film comes off a bit unrealistic, the way it is handled makes you buy into the story. For the first half of the film it is pretty funny and creative delivering one of the more entertaining original films in sometime. As it moves forward and towards the inevitable darker tone it seems to slow down a bit making some moments drag a little. Everyone gives a great performance, but Paul Dano really steps up delivering a quirky uncomfortable innocence to the lead that makes it all work. Some of the characters decisions could have been looked at as a bit creepy, but thanks to the way he handled it comes off as a bit more enduring. This is easily one of the more unique romantic comedies to come along in a while stepping away from the normal format and instead taking a left hand turn creating something new.
		</article>
	</div>
</div>