<div class = "jumbotron">
	<div class = "jumbotron_container">
		<h1><%= link_to "LIST", "/strokes/index", :class => "lead" %></h1>
		<%= form_tag Stroke, :method => 'get' do %>
			<%= text_field :query, params[:query],
						   :class => "form-control",
						   :placeholder => "ex. book, movie, @twitter_account" %>
			<br>
			<%= submit_tag "Search", :name => nil,
									 :class => "btn btn-default" %>
		<% end %>
	</div>
</div>